*.*

/cmake-build-debug

/CMSIS-DSP

/Middlewares

!README.md
!USER_GUIDE.md

!/Src/*.*
!/Inc/*.*
!/BSP/*.*
!/APP/*.*


!/*.ld
!/*.cfg
!/.gitignore

!/C_Board_Standard_Robot.ioc
!/CMakeLists.txt
!/CMakeLists_template.txt

!.mxproject
!.cproject
!.project

#CMSIS-DSP/*.*
#CMSIS-DSP/Examples